{% extends "user/base.html" %}
{% load static %}
{% block title %}
    更改密碼 Change Password
{% endblock %}
{% block header %}
    <p align="center" class="h2 text-uppercase">
        更改密碼 Change Password
    </p><br>
{% endblock %}
{% block main %}
    {% if error_message %}
        <p><font color="red">{{ error_message|linebreaksbr }}</font></p>
    {% endif %}
    <form method="post" action="{% url "user:password_change" %}">{% csrf_token %}
        <table border="0">
            <tr>
                <td align="right">
                    <p>
                        <label for="id_old_password">舊密碼：</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="password" name="old_password" autofocus required id="id_old_password"/>
                    </p>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <p>
                        <label for="id_new_password1">新密碼：</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="password" name="new_password1" required id="id_new_password1"/>
                    </p>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <p>
                        <label for="id_new_password2">新密碼確認：</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="password" name="new_password2" required id="id_new_password2"/>
                    </p>
                </td>
            </tr>
        </table>
        <button type="submit" name="change_password" value="" class="btn btn-success">變更密碼</button>
    </form>
{% endblock %}