{% extends 'user/base.html' %}
{% block title %}
    個人資料 Profile
{% endblock %}
{% block header %}
    <p align="center" class="h2 text-uppercase">
        個人資料 Profile
    </p><br>
{% endblock %}
{% block main %}
    {% if error_message %}
        <p><font color="red">{{ error_message|linebreaksbr }}</font></p>
    {% endif %}
    <form action="{% url "user:profile" %}" method="post" autocomplete="off">{% csrf_token %}
        <table align="center">
            <tr style="font-weight: bold">
                <td align="right"><p>帳號：</p></td>
                <td>
                    <p>
                        {{ request.user.username }}
                    </p>
                </td>
            </tr>
            <tr>
                <td align="right"><p><label for="id_first_name">姓氏：</label></p></td>
                <td>
                    <p>
                        <input type="text" name="first_name" id="id_first_name"/>
                    </p>
                </td>
            </tr>
            <tr>
                <td align="right"><p><label for="id_last_name">姓名：</label></p></td>
                <td>
                    <p>
                        <input type="text" name="last_name" id="id_last_name"/>
                    </p>
                </td>
            </tr>
            <tr>
                <td align="right"><p><label for="id_email">信箱：</label></p></td>
                <td>
                    <p>
                        <input type="email" name="email" id="id_email" autocomplete="off"
                               value="{% if form.email %}{{ form.email.value }}{% endif %}"/>
                    </p>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <p>
                        <label for="id_password">確認密碼：</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="password" name="password" required id="id_password" autocomplete="off" value=""/>
                    </p>
                </td>
            </tr>
        </table>
        <p>
            <button name="submit" value="profile_change">送出</button>
        </p>
    </form>
    <p>
        <label style="margin: 10px 5px 10px 10px"><a href="{% url 'user:password_change' %}">更改密碼</a></label>
    </p>
{% endblock %}
